body {
    font-family: "Roboto", "Franklin Gothic Medium", Tahoma, sans-serif;
    background: #08CDD7;
}

.contractLink a {
    cursor: pointer;
    padding:0 5px;
    font-size: 95%;
}

.logo {
    float: right;
    width: 35px;
}

.well {
    background: #fff;
    padding: 4em;
    box-shadow: 0 0 64px rgb(0 0 0 / 20%);
    border-radius: 50px;
    min-width: 300px;
    box-sizing: border-box;
    margin: 2em;
}

.fakeFileInput {
    font-family: sans-serif;
    font-weight: normal;
    color: #555555;
    margin: 0;
}

.fileInput:focus + .fakeFileInput, .fakeFileInput:focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
}

.labelButton {
    line-height: 1.1;
    color: black;
    margin: 0 5px 0 0;
}

input[type=text] {
    font-family: "Roboto Mono", monospace;
}

p.help-block {
    color: #ffffff;
    font-weight: 600;
    font-size: 90%;
    background: #ff4e4e;
    display: inline-block;
    padding: 1px 5px;
    margin: 0 0 10px;
}

.errorBox {
    color: #ffffff;
    font-weight: 600;
    font-size: 120%;
    background: #ff4e4e;
    display: block;
    padding: 1px 5px;
    margin: 10px;
}

div.contractContainer {
    height: 300px;
    overflow: scroll;

    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

h1 {
    margin-top: 5px;
}

p.contractText {
    margin-top: 25px;
}

.submitButton {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.formErrors {
    color: #ffffff;
    font-weight: 600;
    font-size: 110%;
    background: #ff4e4e;
    display: inline-block;
    margin: 0 0 10px;
}

.errorBoxMessage {
    font-size: 90%;
    font-family: "Roboto Mono", monospace;
    display: block;
    margin: 10px;
    background: darkred;
}

.success {
    font-size: 200%;
    color: green;
    font-weight: 600;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.spinnerContainer {
    height:5em;
}

.spinner,
.spinner:before,
.spinner:after {
    background: #08CDD7;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
}

.spinner {
    color: #08CDD7;
    text-indent: -9999em;
    margin: 30px auto;
    position: relative;
    font-size: 11px;
    transform: translateZ(0);
    animation-delay: -0.16s;
}

.spinner:before,
.spinner:after {
    position: absolute;
    top: 0;
    content: '';
}

.spinner:before {
    left: -1.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner:after {
    left: 1.5em;
}

@-webkit-keyframes load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}

@keyframes load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}

.confirmBox {
    position:fixed;
    background:#fff;
    padding: 1.5em;
    box-shadow: 0 0 64px rgb(0 0 0 / 20%);
    border-radius: 25px;
    box-sizing: border-box;
    left: 50%;
    top: 50%;
    transform: translatey(-50%) translateX(-50%);
}

.confirmBox span {
    width:100%;
    margin-bottom: 1em;
    display: block;
}

.confirmBox button {
    margin: 8px 8px 0;
}

.confirmBox button:first-of-type {
    margin-left: 0;
}

.shade {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: rgba(0, 0, 0, 0.25);
}